body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../G_i_email___Create_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:844px;
    top:725px;
    width:173px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:328px;
    top:171px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:212px;
    top:177px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:212px;
    top:471px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:212px;
    top:241px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:328px;
    top:235px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../G_i_email___Create_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:212px;
    top:770px;
    width:451px;
    height:135px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:457px;
    height:141px;
}

.u17 {
    position:absolute;
    left:2px;
    top:36px;
    width:447px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:212px;
    top:497px;
    width:805px;
    height:218px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:718px;
    top:468px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:831px;
    top:465px;
    width:186px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:212px;
    top:725px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:328px;
    top:200px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:212px;
    top:206px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:526px;
    top:222px;
    width:159px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u25 {
    position:absolute;
    left:214px;
    top:279px;
    width:808px;
    height:158px
}

.u26_normal {
    background-image: url('../G_i_email___Create_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../G_i_email___Create_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:50px;
    top:0px;
    width:100px;
    height:36px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../G_i_email___Create_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:150px;
    top:0px;
    width:120px;
    height:36px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../G_i_email___Create_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:270px;
    top:0px;
    width:82px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../G_i_email___Create_files/u28_normal.png');
}

.u34_container {
    position:absolute;
    left:352px;
    top:0px;
    width:100px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../G_i_email___Create_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:452px;
    top:0px;
    width:150px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../G_i_email___Create_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:603px;
    top:0px;
    width:150px;
    height:36px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../G_i_email___Create_files/u26_normal.png');
}

.u40_container {
    position:absolute;
    left:753px;
    top:0px;
    width:50px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:50px;
    top:36px;
    width:100px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../G_i_email___Create_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:150px;
    top:36px;
    width:120px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../G_i_email___Create_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:270px;
    top:36px;
    width:82px;
    height:30px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u49 {
    position:absolute;
    left:2px;
    top:7px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:352px;
    top:36px;
    width:100px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u51 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:452px;
    top:36px;
    width:150px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u54_container {
    position:absolute;
    left:603px;
    top:36px;
    width:150px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u56_container {
    position:absolute;
    left:753px;
    top:36px;
    width:50px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../G_i_email___Create_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:66px;
    width:50px;
    height:27px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:33px;
}

.u59 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../G_i_email___Create_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:50px;
    top:66px;
    width:100px;
    height:27px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u61 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../G_i_email___Create_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:150px;
    top:66px;
    width:120px;
    height:27px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:33px;
}

.u63 {
    position:absolute;
    left:2px;
    top:6px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../G_i_email___Create_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:270px;
    top:66px;
    width:82px;
    height:27px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../G_i_email___Create_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:352px;
    top:66px;
    width:100px;
    height:27px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u67 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../G_i_email___Create_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:452px;
    top:66px;
    width:150px;
    height:27px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:33px;
}

.u69 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../G_i_email___Create_files/u68_normal.png');
}

.u70_container {
    position:absolute;
    left:603px;
    top:66px;
    width:150px;
    height:27px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:33px;
}

.u71 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../G_i_email___Create_files/u58_normal.png');
}

.u72_container {
    position:absolute;
    left:753px;
    top:66px;
    width:50px;
    height:27px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:33px;
}

.u73 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:93px;
    width:50px;
    height:30px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u75 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u76_container {
    position:absolute;
    left:50px;
    top:93px;
    width:100px;
    height:30px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u77 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../G_i_email___Create_files/u46_normal.png');
}

.u78_container {
    position:absolute;
    left:150px;
    top:93px;
    width:120px;
    height:30px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u79 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../G_i_email___Create_files/u48_normal.png');
}

.u80_container {
    position:absolute;
    left:270px;
    top:93px;
    width:82px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u81 {
    position:absolute;
    left:2px;
    top:7px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u82_container {
    position:absolute;
    left:352px;
    top:93px;
    width:100px;
    height:30px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u83 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u84_container {
    position:absolute;
    left:452px;
    top:93px;
    width:150px;
    height:30px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u85 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u86_container {
    position:absolute;
    left:603px;
    top:93px;
    width:150px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u88_container {
    position:absolute;
    left:753px;
    top:93px;
    width:50px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u89 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:123px;
    width:50px;
    height:30px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u91 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u92_container {
    position:absolute;
    left:50px;
    top:123px;
    width:100px;
    height:30px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u93 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../G_i_email___Create_files/u46_normal.png');
}

.u94_container {
    position:absolute;
    left:150px;
    top:123px;
    width:120px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u95 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../G_i_email___Create_files/u48_normal.png');
}

.u96_container {
    position:absolute;
    left:270px;
    top:123px;
    width:82px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u97 {
    position:absolute;
    left:2px;
    top:7px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../G_i_email___Create_files/u44_normal.png');
}

.u98_container {
    position:absolute;
    left:352px;
    top:123px;
    width:100px;
    height:30px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u99 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u100_container {
    position:absolute;
    left:452px;
    top:123px;
    width:150px;
    height:30px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u101 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../G_i_email___Create_files/u52_normal.png');
}

.u102_container {
    position:absolute;
    left:603px;
    top:123px;
    width:150px;
    height:30px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u103 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../G_i_email___Create_files/u42_normal.png');
}

.u104_container {
    position:absolute;
    left:753px;
    top:123px;
    width:50px;
    height:30px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u105 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

