body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Nh_p_kho_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:212px;
    top:552px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:333px;
    top:218px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:217px;
    top:224px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:333px;
    top:275px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:217px;
    top:281px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:217px;
    top:340px;
    width:133px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u16 {
    position:absolute;
    left:217px;
    top:392px;
    width:666px;
    height:149px
}

.u17_normal {
    background-image: url('../Nh_p_kho_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Nh_p_kho_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:50px;
    top:0px;
    width:150px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:200px;
    top:0px;
    width:94px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:294px;
    top:0px;
    width:94px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u25_container {
    position:absolute;
    left:389px;
    top:0px;
    width:94px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Nh_p_kho_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:483px;
    top:0px;
    width:83px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u29_container {
    position:absolute;
    left:567px;
    top:0px;
    width:94px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Nh_p_kho_files/u17_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Nh_p_kho_files/u19_normal.png');
}

.u33_container {
    position:absolute;
    left:50px;
    top:36px;
    width:150px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u35_container {
    position:absolute;
    left:200px;
    top:36px;
    width:94px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:294px;
    top:36px;
    width:94px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u39_container {
    position:absolute;
    left:389px;
    top:36px;
    width:94px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Nh_p_kho_files/u27_normal.png');
}

.u41_container {
    position:absolute;
    left:483px;
    top:36px;
    width:83px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u43_container {
    position:absolute;
    left:567px;
    top:36px;
    width:94px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Nh_p_kho_files/u17_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:72px;
    width:50px;
    height:36px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Nh_p_kho_files/u19_normal.png');
}

.u47_container {
    position:absolute;
    left:50px;
    top:72px;
    width:150px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:200px;
    top:72px;
    width:94px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u51_container {
    position:absolute;
    left:294px;
    top:72px;
    width:94px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:389px;
    top:72px;
    width:94px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Nh_p_kho_files/u27_normal.png');
}

.u55_container {
    position:absolute;
    left:483px;
    top:72px;
    width:83px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u57_container {
    position:absolute;
    left:567px;
    top:72px;
    width:94px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Nh_p_kho_files/u17_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:108px;
    width:50px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Nh_p_kho_files/u19_normal.png');
}

.u61_container {
    position:absolute;
    left:50px;
    top:108px;
    width:150px;
    height:36px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u63_container {
    position:absolute;
    left:200px;
    top:108px;
    width:94px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u65_container {
    position:absolute;
    left:294px;
    top:108px;
    width:94px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u67_container {
    position:absolute;
    left:389px;
    top:108px;
    width:94px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Nh_p_kho_files/u27_normal.png');
}

.u69_container {
    position:absolute;
    left:483px;
    top:108px;
    width:83px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Nh_p_kho_files/u21_normal.png');
}

.u71_container {
    position:absolute;
    left:567px;
    top:108px;
    width:94px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:370px;
    top:340px;
    width:133px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:217px;
    top:192px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:333px;
    top:186px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76_normal {
    background-image: url('../Nh_p_kho_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:217px;
    top:620px;
    width:451px;
    height:135px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:457px;
    height:141px;
}

.u77 {
    position:absolute;
    left:2px;
    top:44px;
    width:447px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:333px;
    top:246px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:217px;
    top:252px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

