body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:585px;
    top:230px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:696px;
    top:223px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:586px;
    top:263px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:696px;
    top:258px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:586px;
    top:201px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:696px;
    top:189px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:212px;
    top:227px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:312px;
    top:227px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u15 {
    position:absolute;
    left:204px;
    top:364px;
    width:705px;
    height:125px
}

.u16_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:50px;
    top:0px;
    width:150px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:200px;
    top:0px;
    width:200px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u22_normal.png');
}

.u26_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:20px;
    width:50px;
    height:50px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u29 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:50px;
    top:20px;
    width:150px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:200px;
    top:20px;
    width:200px;
    height:50px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u33 {
    position:absolute;
    left:2px;
    top:17px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:400px;
    top:20px;
    width:100px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u35 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:500px;
    top:20px;
    width:100px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:600px;
    top:20px;
    width:100px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u39 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u28_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:70px;
    width:50px;
    height:50px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u41 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u30_normal.png');
}

.u42_container {
    position:absolute;
    left:50px;
    top:70px;
    width:150px;
    height:50px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:56px;
}

.u43 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u32_normal.png');
}

.u44_container {
    position:absolute;
    left:200px;
    top:70px;
    width:200px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u46_container {
    position:absolute;
    left:400px;
    top:70px;
    width:100px;
    height:50px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u47 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u48_container {
    position:absolute;
    left:500px;
    top:70px;
    width:100px;
    height:50px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u49 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:600px;
    top:70px;
    width:100px;
    height:50px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u51 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:204px;
    top:511px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_normal {
    background-image: url('../Chi_ti_t___n_hang_sp_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:212px;
    top:194px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:312px;
    top:189px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:208px;
    top:338px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

