body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:217px;
    top:513px;
    width:133px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:217px;
    top:231px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:217px;
    top:283px;
    width:133px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u13 {
    position:absolute;
    left:217px;
    top:346px;
    width:711px;
    height:149px
}

.u14_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:50px;
    top:0px;
    width:100px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:150px;
    top:0px;
    width:200px;
    height:36px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:350px;
    top:0px;
    width:200px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:551px;
    top:0px;
    width:60px;
    height:36px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:611px;
    top:0px;
    width:94px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u14_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:36px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u16_normal.png');
}

.u28_container {
    position:absolute;
    left:50px;
    top:36px;
    width:100px;
    height:36px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:150px;
    top:36px;
    width:200px;
    height:36px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u32_container {
    position:absolute;
    left:350px;
    top:36px;
    width:200px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u22_normal.png');
}

.u34_container {
    position:absolute;
    left:551px;
    top:36px;
    width:60px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u24_normal.png');
}

.u36_container {
    position:absolute;
    left:611px;
    top:36px;
    width:94px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u14_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:72px;
    width:50px;
    height:36px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u16_normal.png');
}

.u40_container {
    position:absolute;
    left:50px;
    top:72px;
    width:100px;
    height:36px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u42_container {
    position:absolute;
    left:150px;
    top:72px;
    width:200px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u44_container {
    position:absolute;
    left:350px;
    top:72px;
    width:200px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u22_normal.png');
}

.u46_container {
    position:absolute;
    left:551px;
    top:72px;
    width:60px;
    height:36px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u24_normal.png');
}

.u48_container {
    position:absolute;
    left:611px;
    top:72px;
    width:94px;
    height:36px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u49 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u14_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:108px;
    width:50px;
    height:36px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u51 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u16_normal.png');
}

.u52_container {
    position:absolute;
    left:50px;
    top:108px;
    width:100px;
    height:36px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u53 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u54_container {
    position:absolute;
    left:150px;
    top:108px;
    width:200px;
    height:36px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u55 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u18_normal.png');
}

.u56_container {
    position:absolute;
    left:350px;
    top:108px;
    width:200px;
    height:36px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:42px;
}

.u57 {
    position:absolute;
    left:2px;
    top:10px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u22_normal.png');
}

.u58_container {
    position:absolute;
    left:551px;
    top:108px;
    width:60px;
    height:36px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:42px;
}

.u59 {
    position:absolute;
    left:2px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u24_normal.png');
}

.u60_container {
    position:absolute;
    left:611px;
    top:108px;
    width:94px;
    height:36px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:42px;
}

.u61 {
    position:absolute;
    left:2px;
    top:10px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:217px;
    top:195px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../11_2_1_Tim_ki_m_s_n_ph_m_nh_p_kho_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:217px;
    top:572px;
    width:451px;
    height:135px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:457px;
    height:141px;
}

.u64 {
    position:absolute;
    left:2px;
    top:36px;
    width:447px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:367px;
    top:283px;
    width:114px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:333px;
    top:192px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:333px;
    top:227px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

