body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:217px;
    top:176px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../7__Gom_hang_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:217px;
    top:428px;
    width:825px;
    height:211px
}

.u11_normal {
    background-image: url('../7__Gom_hang_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../7__Gom_hang_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:50px;
    top:0px;
    width:120px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:170px;
    top:0px;
    width:100px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../7__Gom_hang_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:270px;
    top:0px;
    width:83px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../7__Gom_hang_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:354px;
    top:0px;
    width:92px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:446px;
    top:0px;
    width:100px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:546px;
    top:0px;
    width:100px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../7__Gom_hang_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:646px;
    top:0px;
    width:82px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../7__Gom_hang_files/u19_normal.png');
}

.u27_container {
    position:absolute;
    left:728px;
    top:0px;
    width:92px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../7__Gom_hang_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:36px;
    width:50px;
    height:52px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../7__Gom_hang_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:50px;
    top:36px;
    width:120px;
    height:52px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u32 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:170px;
    top:36px;
    width:100px;
    height:52px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../7__Gom_hang_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:270px;
    top:36px;
    width:83px;
    height:52px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:58px;
}

.u36 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../7__Gom_hang_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:354px;
    top:36px;
    width:92px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:446px;
    top:36px;
    width:100px;
    height:52px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u41_container {
    position:absolute;
    left:546px;
    top:36px;
    width:100px;
    height:52px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u42 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../7__Gom_hang_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:646px;
    top:36px;
    width:82px;
    height:52px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:58px;
}

.u44 {
    position:absolute;
    left:2px;
    top:18px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../7__Gom_hang_files/u37_normal.png');
}

.u45_container {
    position:absolute;
    left:728px;
    top:36px;
    width:92px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../7__Gom_hang_files/u29_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:88px;
    width:50px;
    height:52px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:58px;
}

.u48 {
    position:absolute;
    left:2px;
    top:18px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../7__Gom_hang_files/u31_normal.png');
}

.u49_container {
    position:absolute;
    left:50px;
    top:88px;
    width:120px;
    height:52px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:58px;
}

.u50 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u51_container {
    position:absolute;
    left:170px;
    top:88px;
    width:100px;
    height:52px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u52 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../7__Gom_hang_files/u35_normal.png');
}

.u53_container {
    position:absolute;
    left:270px;
    top:88px;
    width:83px;
    height:52px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:58px;
}

.u54 {
    position:absolute;
    left:2px;
    top:18px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../7__Gom_hang_files/u37_normal.png');
}

.u55_container {
    position:absolute;
    left:354px;
    top:88px;
    width:92px;
    height:52px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u56 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u57_container {
    position:absolute;
    left:446px;
    top:88px;
    width:100px;
    height:52px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u58 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../7__Gom_hang_files/u33_normal.png');
}

.u59_container {
    position:absolute;
    left:546px;
    top:88px;
    width:100px;
    height:52px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u60 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../7__Gom_hang_files/u43_normal.png');
}

.u61_container {
    position:absolute;
    left:646px;
    top:88px;
    width:82px;
    height:52px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:58px;
}

.u62 {
    position:absolute;
    left:2px;
    top:18px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../7__Gom_hang_files/u37_normal.png');
}

.u63_container {
    position:absolute;
    left:728px;
    top:88px;
    width:92px;
    height:52px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:58px;
}

.u64 {
    position:absolute;
    left:2px;
    top:18px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../7__Gom_hang_files/u11_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:140px;
    width:50px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../7__Gom_hang_files/u13_normal.png');
}

.u67_container {
    position:absolute;
    left:50px;
    top:140px;
    width:120px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u69_container {
    position:absolute;
    left:170px;
    top:140px;
    width:100px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../7__Gom_hang_files/u17_normal.png');
}

.u71_container {
    position:absolute;
    left:270px;
    top:140px;
    width:83px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../7__Gom_hang_files/u19_normal.png');
}

.u73_container {
    position:absolute;
    left:354px;
    top:140px;
    width:92px;
    height:36px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u75_container {
    position:absolute;
    left:446px;
    top:140px;
    width:100px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../7__Gom_hang_files/u15_normal.png');
}

.u77_container {
    position:absolute;
    left:546px;
    top:140px;
    width:100px;
    height:36px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../7__Gom_hang_files/u25_normal.png');
}

.u79_container {
    position:absolute;
    left:646px;
    top:140px;
    width:82px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../7__Gom_hang_files/u19_normal.png');
}

.u81_container {
    position:absolute;
    left:728px;
    top:140px;
    width:92px;
    height:36px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../7__Gom_hang_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:176px;
    width:50px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../7__Gom_hang_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:50px;
    top:176px;
    width:120px;
    height:30px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u86 {
    position:absolute;
    left:2px;
    top:7px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../7__Gom_hang_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:170px;
    top:176px;
    width:100px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../7__Gom_hang_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:270px;
    top:176px;
    width:83px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../7__Gom_hang_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:354px;
    top:176px;
    width:92px;
    height:30px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:36px;
}

.u92 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../7__Gom_hang_files/u87_normal.png');
}

.u93_container {
    position:absolute;
    left:446px;
    top:176px;
    width:100px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../7__Gom_hang_files/u87_normal.png');
}

.u95_container {
    position:absolute;
    left:546px;
    top:176px;
    width:100px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../7__Gom_hang_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:646px;
    top:176px;
    width:82px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u98 {
    position:absolute;
    left:2px;
    top:7px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../7__Gom_hang_files/u91_normal.png');
}

.u99_container {
    position:absolute;
    left:728px;
    top:176px;
    width:92px;
    height:30px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:36px;
}

.u100 {
    position:absolute;
    left:2px;
    top:7px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:364px;
    top:656px;
    width:178px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:217px;
    top:352px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:341px;
    top:266px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:217px;
    top:269px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:341px;
    top:301px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:217px;
    top:304px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:212px;
    top:237px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:341px;
    top:234px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:217px;
    top:205px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:341px;
    top:202px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112_normal {
    background-image: url('../7__Gom_hang_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:217px;
    top:753px;
    width:835px;
    height:254px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:841px;
    height:260px;
}

.u113 {
    position:absolute;
    left:2px;
    top:47px;
    width:831px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:861px;
    top:157px;
    width:145px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:219px;
    top:656px;
    width:135px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

