body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MBGN_Backend_Master_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:4px;
    top:83px;
    width:1002px;
    height:4px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:10px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-6px;
    width:998px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MBGN_Backend_Master_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:3px;
    top:27px;
    width:999px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:999px;
    height:52px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:995px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MBGN_Backend_Master_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:6px;
    top:121px;
    width:189px;
    height:531px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:531px;
}

.u5 {
    position:absolute;
    left:2px;
    top:258px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../T_o___n_hang_link_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:197px;
    top:123px;
    width:809px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:815px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:805px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:212px;
    top:132px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:546px;
    top:240px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:646px;
    top:240px;
    width:360px;
    height:60px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u12 {
    position:absolute;
    left:208px;
    top:450px;
    width:922px;
    height:125px
}

.u13_normal {
    background-image: url('../T_o___n_hang_link_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../T_o___n_hang_link_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:30px;
    top:0px;
    width:80px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../T_o___n_hang_link_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:110px;
    top:0px;
    width:98px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../T_o___n_hang_link_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:208px;
    top:0px;
    width:80px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../T_o___n_hang_link_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:288px;
    top:0px;
    width:100px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:388px;
    top:0px;
    width:50px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:438px;
    top:0px;
    width:50px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:488px;
    top:0px;
    width:50px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:537px;
    top:0px;
    width:50px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u31_container {
    position:absolute;
    left:587px;
    top:0px;
    width:50px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u33_container {
    position:absolute;
    left:637px;
    top:0px;
    width:50px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u35_container {
    position:absolute;
    left:687px;
    top:0px;
    width:50px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u37_container {
    position:absolute;
    left:737px;
    top:0px;
    width:50px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../T_o___n_hang_link_files/u23_normal.png');
}

.u39_container {
    position:absolute;
    left:787px;
    top:0px;
    width:50px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../T_o___n_hang_link_files/u15_normal.png');
}

.u41_container {
    position:absolute;
    left:837px;
    top:0px;
    width:80px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../T_o___n_hang_link_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:36px;
    width:30px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:56px;
}

.u44 {
    position:absolute;
    left:2px;
    top:17px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:30px;
    top:36px;
    width:80px;
    height:50px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u46 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../T_o___n_hang_link_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:110px;
    top:36px;
    width:98px;
    height:50px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:56px;
}

.u48 {
    position:absolute;
    left:2px;
    top:17px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u49_container {
    position:absolute;
    left:208px;
    top:36px;
    width:80px;
    height:50px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u50 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../T_o___n_hang_link_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:288px;
    top:36px;
    width:100px;
    height:50px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u52 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:388px;
    top:36px;
    width:50px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:438px;
    top:36px;
    width:50px;
    height:50px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u56 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:488px;
    top:36px;
    width:50px;
    height:50px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u58 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:537px;
    top:36px;
    width:50px;
    height:50px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u60 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u61_container {
    position:absolute;
    left:587px;
    top:36px;
    width:50px;
    height:50px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u62 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u63_container {
    position:absolute;
    left:637px;
    top:36px;
    width:50px;
    height:50px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u64 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u65_container {
    position:absolute;
    left:687px;
    top:36px;
    width:50px;
    height:50px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u66 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u67_container {
    position:absolute;
    left:737px;
    top:36px;
    width:50px;
    height:50px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u68 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u69_container {
    position:absolute;
    left:787px;
    top:36px;
    width:50px;
    height:50px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u70 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u71_container {
    position:absolute;
    left:837px;
    top:36px;
    width:80px;
    height:50px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u72 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../T_o___n_hang_link_files/u43_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:86px;
    width:30px;
    height:50px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:56px;
}

.u74 {
    position:absolute;
    left:2px;
    top:17px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u75_container {
    position:absolute;
    left:30px;
    top:86px;
    width:80px;
    height:50px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u76 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../T_o___n_hang_link_files/u47_normal.png');
}

.u77_container {
    position:absolute;
    left:110px;
    top:86px;
    width:98px;
    height:50px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:56px;
}

.u78 {
    position:absolute;
    left:2px;
    top:17px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u79_container {
    position:absolute;
    left:208px;
    top:86px;
    width:80px;
    height:50px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u80 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../T_o___n_hang_link_files/u51_normal.png');
}

.u81_container {
    position:absolute;
    left:288px;
    top:86px;
    width:100px;
    height:50px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u82 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u83_container {
    position:absolute;
    left:388px;
    top:86px;
    width:50px;
    height:50px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u84 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u85_container {
    position:absolute;
    left:438px;
    top:86px;
    width:50px;
    height:50px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u86 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u87_container {
    position:absolute;
    left:488px;
    top:86px;
    width:50px;
    height:50px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u88 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u89_container {
    position:absolute;
    left:537px;
    top:86px;
    width:50px;
    height:50px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u90 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u91_container {
    position:absolute;
    left:587px;
    top:86px;
    width:50px;
    height:50px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u92 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u93_container {
    position:absolute;
    left:637px;
    top:86px;
    width:50px;
    height:50px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u94 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u95_container {
    position:absolute;
    left:687px;
    top:86px;
    width:50px;
    height:50px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u96 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u97_container {
    position:absolute;
    left:737px;
    top:86px;
    width:50px;
    height:50px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u98 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../T_o___n_hang_link_files/u53_normal.png');
}

.u99_container {
    position:absolute;
    left:787px;
    top:86px;
    width:50px;
    height:50px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u100 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../T_o___n_hang_link_files/u45_normal.png');
}

.u101_container {
    position:absolute;
    left:837px;
    top:86px;
    width:80px;
    height:50px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u102 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:345px;
    top:603px;
    width:100px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:212px;
    top:207px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:212px;
    top:243px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:212px;
    top:276px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:312px;
    top:202px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:312px;
    top:238px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:312px;
    top:272px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110 {
    position:absolute;
    left:212px;
    top:424px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:212px;
    top:603px;
    width:116px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112 {
    position:absolute;
    left:546px;
    top:206px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:646px;
    top:202px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:212px;
    top:168px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_line {
    background-image: url('../T_o___n_hang_link_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u115 {
    position:absolute;
    left:212px;
    top:184px;
    width:794px;
    height:10px;
    
}

.u116 {
    position:absolute;
    left:208px;
    top:310px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_line {
    background-image: url('../T_o___n_hang_link_files/u117_line.png');
}

.u117_line {
    position:absolute;
    left:0px;
    top:4px;
    width:794px;
    height:3px;
}

.u117 {
    position:absolute;
    left:208px;
    top:326px;
    width:794px;
    height:10px;
    
}

.u118 {
    position:absolute;
    left:208px;
    top:352px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:308px;
    top:347px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:208px;
    top:387px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:308px;
    top:382px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:539px;
    top:357px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:639px;
    top:352px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:539px;
    top:389px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:639px;
    top:384px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

